@import './app/lib/ui-kit/grid.less';

/* You can add global styles to this file, and also import other style files */
:root {
    --White: #ffffff;
    --Black: #000000;
    --Steel-grey: #f2f0f0;
    --Concrete-grey: #dad8d8;
    --greyblue: #67a9af;
    --marine: #083959;
    --warm-grey: #999999;
    --warm-grey-two: #777777;
}

* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    height: 100%;
}
app-root {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
head {
    display: block;
    &::after {
        .debug();
        pointer-events: none;
    }
}
// @debug: true;